.bpcft-settings-text-field-cat-3{
    width: 650px;
}

.bpcft-settings-text-field-cat-2{
    width: 400px;
}

.bpcft-settings-text-field-cat-1{
    width: 70px;
}

@media only screen and (max-width: 782px){
    .bpcft-settings-text-field-cat-3,
    .bpcft-settings-text-field-cat-2,
    .bpcft-settings-text-field-cat-1 {
        width: 100%;
    }
}

/* Wrap directly with this class (not to be used with a paragraph tag) */
.bpcft-grey-box {
    margin: 10px 0px;
    padding: 15px 10px;
    background-color: #DDDDDD;
    border-color: #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

.bpcft-yellow-box {
    margin: 10px 0px;
    padding: 10px;
    background-color: #FFFFE0;
    border-color: #E6DB55;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

.bpcft-red-box {
    margin: 10px 0px;
    padding: 10px;
    background-color: #FFEBE8;
    border-color: #CC0000;
    color: #333333;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}

.bpcft-orange-box{
    margin: 10px 0px;
    padding: 15px 10px;
    color: #3F2502;
    background-color: #FFF6D5;
    border-color: #D1B655;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
}
